<div class="error_page">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div class="fukidashi" >
        <div style="white-space: pre-line"><%= message %></div>
      </div>
    </div>
  </div>
</div>
